<h1>Add a project</h1>
<%= form_for @my_project do |f| %>
	<div>
		<%= f.label :name %>
	</div>
	<div>
		<%= f.text_field :name, placeholder: "Your project name" %>
	</div>
	<div>
		<%= f.label :description %>
	</div>
	<div>
		<%= f.text_area :description, placeholder: "Your project description", cols: "30", rows: "10" %>
	</div>
	<div>
		<%= f.button %>
	</div>
<% end %>